@font-face {
    font-family:disneypark; /* Гарнитура шрифта */
    src: url(fonts/disneypark_[allfont.ru].ttf); /* Путь к файлу со шрифтом */
  }


header {
  min-height: 100vh;
  font-family: 'Amatic SC', cursive;
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
}
 
.love__title{
	padding-top: 20%;
	text-transform: uppercase;
	font-size: 85px;
	color: #B22222;
	text-shadow: -6px 1px 2px black;
	text-align: center;
}

.prosti{
	background: url(../img/bgprosti.jpg);
	min-height: 100vh;
	padding-top: 10vh;
	font-family: disneypark;
}

.prosti__title{
	color: #D2B48C;
	font-size: 60px;
	text-shadow: -2px 1px 2px black;
}

.prosti__text{
	padding-top: 40px;
	line-height: 60px;
	font-size: 50px;
	color: #98195e;
	text-shadow: -2px 1px 2px black;
}

.prichini{
	background: url(../img/bg100.jpg);
	min-height: 100vh;
	color: #fff;
}